# ==================================================
# 依赖库清单
# ==================================================

pandas
numpy==1.26.4
openpyxl
scikit-learn
scikit-multilearn-ng
matplotlib
seaborn
rdkit-pypi